@import "tailwindcss";

@theme {
  --color-point: #3a33a4;
  --color-white: #f2f2f2;
  --color-black: #222222;
  --color-red: #ff5b5b;
  --color-gray: #c3c3c3;

  --text-base: 18px;
  --text-small: 16px;
  --text-title: 40px;

  --radius-button: 30px;
  --radius-card: 20px;
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  a {
    @apply text-inherit no-underline;
  }

  menu,
  ol,
  ul {
    @apply list-none;
  }

  img,
  video {
    @apply max-w-full align-middle;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  input:focus {
    @apply outline-none;
  }

  button:focus {
    @apply outline-none;
  }

  table {
    @apply border-collapse;
  }

  address,
  i,
  em {
    font-style: normal;
  }

  button {
    @apply cursor-pointer;
  }

  body {
    @apply font-sans text-base font-normal tracking-tight;
    font-family: "Pretendard", sans-serif;
    font-size: 18px;
  }
}

@layer components {
  .blind {
    @apply absolute top-[-9999px];
  }

  .content {
    @apply mx-auto max-w-[1600px] px-6;
  }

  .container-wrap {
    @apply flex items-center justify-center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
