@import "tailwindcss";

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  a {
    @apply text-inherit no-underline;
  }

  menu,
  ol,
  ul {
    @apply list-none;
  }

  img,
  video {
    @apply max-w-full align-middle;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  input:focus {
    @apply outline-none;
  }

  button:focus {
    @apply outline-none;
  }

  table {
    @apply border-collapse;
  }

  address,
  i,
  em {
    font-style: normal;
  }

  button {
    @apply cursor-pointer;
  }

  body {
    @apply font-sans text-base font-normal tracking-tight;
    font-family: "Pretendard", sans-serif;
  }

  :root {
    --point-color: #3a33a4;
    --white-color: #f2f2f2;
    --black-color: #222222;
    --red-point: #ff5b5b;
    --gray-point: #c3c3c3;
  }
}

@layer components {
  .blind {
    @apply absolute top-[-9999px];
  }

  .container-wrap {
    @apply flex items-center justify-center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
